/* Font */

@font-face {
    font-family: Cinzel;
    src: url("../res/fonts/Cinzel-Regular.otf");
}

nav .brand-logo, h1, h2 {
    font-family: Cinzel, serif;
    font-size: 2em;
    margin: 0;
}

/* Globals */

.main-color-button
{
    color: #262626;
}
.main-color-button:hover
{
    color: #262626;
}

/* Header */

/* Override navbar size */
nav, nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons, nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav
{
    background-color: #262626;
    border-bottom: solid #FFD245 5px;
}

nav .brand-logo
{
    font-size: 2rem;
    margin-left: 50px;
}

.nav-wrapper li a, .commentary-form input
{
    background-color: #FFD245;
    color: #262626
}

.nav-wrapper li a:hover, .commentary-form input:hover, .nav-wrapper li a:hover, .commentary-form input:focus
{
    background-color: #ffe842;
    color: #262626
}

/* Floating Button */

.btn-floating
{
    background-color: #FFD245;
}
.btn-floating:hover
{
    background-color: #ffe842;
}

/* Body */

body
{
    background: url("../res/images/pyramide.jpg") fixed no-repeat;
    background-size: cover;
}

.main-page
{
    height: 100%;
    width: 75%;
    margin: 0 auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    background-color: #FFFFFF99;
}

/* Cards */

.card-list-container
{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-card-container
{
    width: 65%;
    height: auto;
    margin: 50px;
    overflow: hidden;
}

.card-container, .more-card-container
{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 45%;
    height: 645px;
}

.more-card-container
{
    background-color: #262626;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.more-card
{
    width: 100%;
    height: 100%;
    margin: auto;

    display: flex;

    align-items: center;
    justify-content: space-around;

    font-size: 1.8em;
}

.more-card h1
{
    text-align: center;
    color: #FFFFFF;
}

.card
{
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.card-image
{
    height: 400px;
    overflow: hidden;
}

.card-image img
{
    height: 100%;
    width: auto;
}

.card-title
{
    font-family: Cinzel sans-serif;
}

.card-content
{
    height: 160px;
    overflow: hidden;
}

.card-action
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-action a
{
    margin: auto 0;
    background: #FFD245;
    color: #262626;
}
.card-action a:hover
{
    margin: auto 0;
    background: #ffe842;
    color: #262626;
}

/* List all posts */

.all-cards-list-container
{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(236, 236, 236, 0.85);
}

.collection
{
    width: 90%;
    margin: 20px auto;
}

.item-date
{
    font-size: 0.8em;
}

.edit-link
{
    position: absolute;
    top: 35%;
    right: 10px;
}

.remove-link
{
    position: absolute;
    top: 35%;
    right: 50px;
}

.post-link
{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    left:0;
    top: 0;
    z-index: 10;
}

.collection i
{
    font-size: 30px;
    color: #FFD245;
}

select
{
    width: 20%;
    margin: 20px auto;
}

.order-by-container
{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 20px auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.order-by-container select
{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}

.order-by-container button
{
    background-color: #FFD245;
}

.order-by-container button:hover
{
    background-color: #ffe842;
}


/* Side navbar */


.side-nav
{
    background-color: #262626;
    padding-top: 50px;
}

.side-nav li a
{
    font-size: 1.2em;
    color: #FFD245;
}

.side-nav li .material-icons
{
    font-size: 30px;
    color: white;
}


/* About section */

.about-section
{
    width: 30%;
    margin-top: 5%;

    display: flex;
    flex-direction: column;

    position: absolute;
    right: 30px;

    border-left: solid 1px #FFD245;
    background-color: white;
    padding-top: 20px;
}

.circle-img
{
    width: 75px;
    height: 75px;

    margin: 5%;
}

.title-container
{
    width: 100%;
    display: flex;
}

.about-section-title
{
    font-size: 1.8em;
}

.about-section p
{
    margin: 10px auto;
}

.description-container
{
    margin-left: 20px;
    margin-top: 10px;
    width: 80%;
}

#desc-content
{
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.hobbies-container
{
    margin-left: 20px;
}

.hobbies-list li
{
    margin-top: 5px;
    display: list-item;
    list-style: armenian;
}

.contact-container
{
    margin-left: 20px;
}

.contact-list
{
    margin-left: 10px;
}

.contact-list li
{
    font-size: 0.8em;
    margin-top: 5px;
}
.icon
{
    margin-right: 5px;
}

<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> cb4d7aff71dd6370dbbace9b63746d604eec4333
/* Login Page */

.form-container
{
    height: 50%;
    width: 40%;
    margin: 50px auto;
    padding: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.81);
}

.form-container label
{
    font-size: 0.8em;
    color: rgba(66, 66, 66, 0.99);
}

.submit-container
{
    display: flex;
    flex-direction: row;
}

.form-container button
{
    position: relative;
    margin: 20px auto;
    margin-bottom: 10px;
    width: auto;
    background-color: #FFD245;
}

.form-container button:hover
{
    background-color: #ffe842;
}

<<<<<<< HEAD
=======
=======
.error-msg
{
    margin: 0 auto;
    margin-bottom: 30px;
    color: red;
}

>>>>>>> cb4d7aff71dd6370dbbace9b63746d604eec4333
/* Post */

.post, .commentary
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;

    margin: 25px 0;
    padding: 10px;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 15px;

    background: #ffffff;
}

.post-image
{
    min-width: 50%;
    max-height: 500px;

    display: flex;
    align-self: center;
}

.post-image img
{
    width: 100%;

    border: 1px solid #262626;
    border-radius: 15px;
}

.post-title
 {

    display: flex;
    align-self: center;
    margin: 20px 0;
}

.separator
{
    width: 80%;
    align-self: center;

    border: 1px solid #262626;
}

.post-content
{
    width: 95%;
    align-self: center;

    padding: 2.5%;
    margin-top: 5px;
}

.post-content p
{
    text-align: justify;
}

.post-footer
{
    display: flex;
    justify-content: space-between;

    border-top: 1px solid #FFD245;
    padding-top: 10px;
}

/* Post Creation-Edition */

.create-post-submit
{
    width: 23%;
    margin: 30px auto;
    margin-top: 50px;
    background-color: #FFD245;
}

.create-post-submit:hover
{
    background-color: #ffe842;
}

.create-post-title
{
    text-align: center;
}

.label-title
{
    width: 30%;
    margin: 10px auto;
}

.label-textarea
{
    width: 80%;
    margin: 10px auto;
    max-height: 600px;
    overflow-y: auto;
}

.create-post-title, .create-post-textarea
{
    color: rgba(43,43,43,0.85);
}

.input-field
{
    width: 80%;
    margin: 10px auto;
    margin-top: 50px;
}

.input-field .btn
{
    width: 16%;
    height: auto;
    padding: 0;
    background-color: #FFD245;
}

.input-field .btn:hover
{
    background-color: #ffe842;
}

/* Commentary */

/* for all .Commentary go to .post */

.commentary
{
    margin: 10px 0;
}

.commentary-header
{
    display: flex;
    justify-content: space-between;

    font-family: Cinzel serif;
    font-size: 1.4em;

    border-bottom: 2px solid #FFD245;
}

.commentary-content p
{
    text-align: justify;
    margin-bottom: 5px;
}

.commentary-form
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.commentary-form input
{
    margin-top: 10px;
    align-self: flex-end;

}

.commentary-form textarea
{
    height: auto;
}
<<<<<<< HEAD
>>>>>>> 8d1ea29527a3d31976af7ec861b27108f14d4e2b
=======
>>>>>>> cb4d7aff71dd6370dbbace9b63746d604eec4333
