/* Font */

@font-face {
    font-family: Cinzel;
    src: url("../res/fonts/Cinzel-Regular.otf");
}

nav .brand-logo, h1, h2 {
    font-family: Cinzel, serif;
    font-size: 2em;
    margin: 0;
}

/* Header */

/* Override navbar size */
nav, nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons, nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav
{
    background-color: #262626;
    border-bottom: solid #FFD245 5px;
}

nav .brand-logo
{
    font-size: 2rem;
    margin-left: 50px;
}

.nav-wrapper li a
{
    background-color: #FFD245;
    color: #262626
}

.nav-wrapper li a:hover
{
    background-color: #ffe842;
    color: #262626
}

/* Floating Button */

.btn-floating
{
    background-color: #FFD245;
}
.btn-floating:hover
{
    background-color: #ffe842;
}

/* Body */

body
{
    background: url("../res/images/pyramide.jpg") fixed no-repeat;
    background-size: cover;
}

.main-page
{
    height: 100%;
    width: 75%;
    margin: 0 auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    background-color: #FFFFFF99;
}

/* Cards */

.card-list-container
{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-card-container
{
    width: 65%;
    height: auto;
    margin: 50px;
    overflow: hidden;
}

.card-container, .more-card-container
{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 45%;
    height: 645px;
}

.more-card-container
{
    background-color: #262626;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.more-card
{
    width: 100%;
    height: 100%;
    margin: auto;

    display: flex;

    align-items: center;
    justify-content: space-around;

    font-size: 1.8em;
}

.more-card h1
{
    text-align: center;
    color: #FFFFFF;
}

.card
{
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.card-image
{
    height: 400px;
    overflow: hidden;
}

.card-image img
{
    height: 100%;
    width: auto;
}

.card-title
{
    font-family: Cinzel sans-serif;
}

.card-content
{
    height: 160px;
    overflow: hidden;
}

.card-action
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-action a
{
    margin: auto 0;
    background: #FFD245;
    color: #262626;
}
.card-action a:hover
{
    margin: auto 0;
    background: #ffe842;
    color: #262626;
}

/* About section */

.about-section
{
    width: 30%;
    margin-top: 5%;

    display: flex;
    flex-direction: column;

    position: absolute;
    right: 30px;

    border-left: solid 1px #FFD245;
    background-color: white;
    padding-top: 20px;
}

.circle-img
{
    width: 75px;
    height: 75px;

    margin: 5%;
}

.title-container
{
    width: 100%;
    display: flex;
}

.about-section-title
{
    font-size: 1.8em;
}

.about-section p
{
    margin: 10px auto;
}

.description-container
{
    margin-left: 20px;
    margin-top: 10px;
    width: 80%;
}

#desc-content
{
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.hobbies-container
{
    margin-left: 20px;
}

.hobbies-list li
{
    margin-top: 5px;
    display: list-item;
    list-style: armenian;
}

.contact-container
{
    margin-left: 20px;
}

.contact-list
{
    margin-left: 10px;
}

.contact-list li
{
    font-size: 0.8em;
    margin-top: 5px;
}
.icon
{
    margin-right: 5px;
}

/* Post */

.post, .commentary
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;

    margin: 25px 0;
    padding: 10px;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 15px;

    background: #ffffff;
}

.post-image
{
    min-width: 50%;
    max-height: 500px;

    display: flex;
    align-self: center;
}

.post-image img
{
    width: 100%;

    border: 1px solid #262626;
    border-radius: 15px;
}

.post-title
 {

    display: flex;
    align-self: center;
    margin: 20px 0;
}

.separator
{
    width: 80%;
    align-self: center;

    border: 1px solid #262626;
}

.post-content
{
    width: 95%;
    align-self: center;

    padding: 2.5%;
    margin-top: 5px;
}

.post-content p
{
    text-align: justify;
}

.post-footer
{
    display: flex;
    justify-content: space-between;

    border-top: 1px solid #FFD245;
    padding-top: 10px;
}

/* Commentary */

/* for all .Commentary go to .post */

.commentary
{
    margin: 10px 0;
}

.commentary-header
{
    display: flex;
    justify-content: space-between;

    font-family: Cinzel serif;
    font-size: 1.4em;

    border-bottom: 2px solid #FFD245;
}

.commentary-content
{
    text-align: justify;
}