body
{
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.main-page
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

.card-list-container
{
    width: 100%;
    height: auto;
}

.card-container
{
    margin-top: 50px;
    width: 55%;
    overflow: hidden;
    height: auto;
}

.card
{
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.card-image
{
    max-height: 500px;
    overflow: hidden;
}

.card-content
{
    max-height: 150px;
    overflow: hidden;
}

.about-section
{
    width: 25%;
    position: absolute;
    right: 30px;
    margin-top: 10%;
    border-left: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;
}

.about-section p
{
    margin: 10px auto;
}

.description-container
{
    margin-left: 20px;
    margin-top: 30px;
    width: 80%;
}

#desc-content
{
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 10px;
}

.about-section-title
{
    font-size: 1.1em;
    margin-top: 30px;
}

.circle-img
{
    position: absolute;
    left: 20px;
    top:20px;
    width: 50px;
    height: 50px;
}

.hobbies-container
{
    margin-left: 20px;
    margin-top:20px;
}

.hobbies-list li
{
    margin-top: 5px;
    display: list-item;
    list-style: armenian;
}

.contact-container
{
    margin-left: 20px;
}

.contact-list
{
    margin-left: 10px;
}

.contact-list li
{
    font-size: 0.8em;
    margin-top: 5px;
}
.icon
{
    margin-right: 5px;
}