<div class="commentary">
    <div class="commentary-header">
        Ajouter un commentaire :
    </div>
    {% if userInfo["isConnected"] == false %}
        <div class="commentary-login-required">
            Vous devez être connecté pour poster un commentaire :
            <a href="{{ app.url_generator.generate("login") }}">se connecter</a>
        </div>
    {% else %}
        <form action="{{ app.url_generator.generate("addCommentary") }}" method="POST" class="commentary-form">
            <textarea name="content" title="content" placeholder="Votre Commentaire..." rows="4"></textarea>
            <input type="number" name="postID" title="postID" value="{{ post.getIdPost() }}" hidden>
            <input type="submit" name="submit" class="second-color-button btn">
        </form>
    {% endif %}
</div>