<aside class="about-section z-depth-3">
    <div class="title-container">
        <img class="circle circle-img" src="{{ app.request.basepath }}/res/images/otis.jpg">
        <h1 class="about-section-title">A Propos de moi</h1>
    </div>
    <div class="description-container">
        <p class="about-section-title">Description</p>
        <p id="desc-content">Je suis Otis, scribe et concepteur d'ascenseur, mais j'ai très bien résumé ma vie,
            alors lis le poste à ce sujet pour en savoir plus.
            À côté de cela, j’aime la survie en nature, le sport à haute intensité et le blogging. Bref Imothep.
        </p>
    </div>
    <div class="hobbies-container">
        <p class="about-section-title">Mes loisirs</p>
        <ul class="hobbies-list" id="desc-content">
            <li>Les acsenseurs</li>
            <li>L'écriture</li>
            <li>Imothep</li>
        </ul>
    </div>
    <div class="contact-container">
        <p class="about-section-title">Me contacter</p>
        <ul class="contact-list">
            <li><i class="fa fa-facebook-square icon" aria-hidden="true"></i>Facebook</li>
            <li><i class="fa fa-twitter-square icon" aria-hidden="true"></i>Twitter</li>
            <li><i class="fa fa-instagram icon" aria-hidden="true"></i>Instagram</li>
            <li><i class="fa fa-envelope-o icon" aria-hidden="true"></i>Otis@pyramail.eg</li>
        </ul>
    </div>
</aside>