<div class="card-list-container">
    {% for post in posts %}
        {% include 'HomePageComponents/Cards/basic-card.twig' %}
    {% endfor %}
    {% include 'HomePageComponents/Cards/more-card.twig' %}
</div>

