<aside class="about-section z-depth-3">
    <div class="title-container">
        <img class="circle circle-img" src="{{ app.request.basepath }}/res/images/otis.jpg">
        <h1 class="about-section-title">A Propos de moi</h1>
    </div>
    <div class="description-container">
        <p class="about-section-title">Description:</p>
        <p id="desc-content">J’ai quitté les bancs de l’école à 15 ans, puis j’ai rejoint les troupes de sauvetage,
            en ce moment je travaille pour la Suisse dans les Balkans et je gère une équipe de médiateurs..
            À côté de cela, j’aime la survie en nature, le sport à haute intensité et le blogging. Je m’appelle Julien.
        </p>
    </div>
    <div class="hobbies-container">
        <p class="about-section-title">Mes loisirs</p>
        <ul class="hobbies-list" id="desc-content">
            <li>Le foot</li>
            <li>La voile</li>
            <li>Les chats</li>
        </ul>
    </div>
    <div class="contact-container">
        <p class="about-section-title">Me contacter</p>
        <ul class="contact-list">
            <li><i class="fa fa-facebook-square icon" aria-hidden="true"></i>Facebook</li>
            <li><i class="fa fa-twitter-square icon" aria-hidden="true"></i>Twitter</li>
            <li><i class="fa fa-instagram icon" aria-hidden="true"></i>Instagram</li>
            <li><i class="fa fa-envelope-o icon" aria-hidden="true"></i>jujuLOL61@wanadoo.fr</li>
        </ul>

    </div>
</aside>