<div class="card-container z-depth-3">
        <div class="card">
            <div class="card-image small">
                <img src="{{ card.getImage() }}"/>
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>{{ card.getText() }}</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
</div>