<div class="card-list-container">
    {% for post in posts %}
        <div class="card-container">
            {% include 'card.twig' %}
        </div>
    {% endfor %}
    {% include 'more-card.twig' %}
</div>

