<div class="card-container">
    <div class="card">
        <div class="card-image">
            <img src="{{ post.getImage() }}"/>
            <span class="card-title">{{ post.getTitle() }}</span>
        </div>
        <div class="card-content">
            <p>{{ post.getContent() }}</p>
        </div>
        <div class="card-action">
            <p>{{ post.getPostDate() }}</p>
            <a href="#" class="btn">Voir Plus</a>
        </div>
    </div>
</div>