<li class="collection-item avatar z-depth-2">
    <img src="{{ app.request.basepath }}/res/images/{{ post.getImage() }}" alt="" class="circle">
    <span class="title">{{ post.getTitle() }}</span>
    <p class="item-date">{{ post.getPostDate() }}</p>
    <a href="#!" class="go-to-link"><i class="material-icons">forward</i></a>
    {% if isAdmin %}
        <a href="#!" class="edit-link"><i class="material-icons">edit</i></a>
    {% endif %}
</li>
