<div class="commentary">
    <div class="commentary-header">
        Posté le {{ commentary.getPostDate() }} par {{ commentary.getPseudo() }}
        {% if isAdmin or commentary.getPseudo() == username %}
            <span>
                <a><i class="material-icons right">remove</i></a>
                <a><i class="material-icons right">modify</i></a>
            </span>
        {% endif %}
    </div>
    <div class="commentary-content">
        <p>{{ commentary.getContent() }}</p>
    </div>
</div>