{% extends 'layout.twig' %}
{% block body %}
    <div class="main-page">
        <div class="parallax-container">
            <div class="parallax"><img src="https://cdn.pixabay.com/photo/2013/04/06/11/50/image-editing-101040_960_720.jpg"></div>
        </div>
        {% include 'card-list-section.twig' %}
        {% include 'about-section.twig' %}
    </div>
{% endblock %}