{% extends 'layout.twig' %}
{% block body %}
    {% include 'navbar.twig' %}
    <div class="cards_container">
    {% for card in cards %}
        {% include 'card.twig' %}
    {% endfor %}
    </div>
{% endblock %}