{% extends 'layout.twig' %}
{% block body %}
    <div class="main-page">
        {% include 'HomePageComponents/Cards/main-card.twig' %}
        {% include 'HomePageComponents/card-list-section.twig' %}
        {% include 'HomePageComponents/about-section.twig' %}
    </div>
{% endblock %}