{% extends 'layout.twig' %}
{% block body %}
    <div class="main-page">
        {% include 'main-card.twig' %}
        {% include 'card-list-section.twig' %}
        {% include 'about-section.twig' %}
    </div>
{% endblock %}