{% extends 'layout.twig' %}
{% block body %}
    <div class="all-cards-list-container">
        <label for="order-by">Trier les posts : </label>
        <select id="order-by">
            <option>Du plus récent au plus vieux</option>
            <option>Du plus vieux au plus récent</option>
        </select>
       <ul class="collection">
            {% for post in posts %}
                {% include "card-list-item.twig" %}
            {% endfor %}
        </ul>
    </div>
    {% include "side-nav.twig" %}
{% endblock body %}