{% extends 'layout.twig' %}
{% block body %}
    <div class="all-cards-list-container">
       <div class="collection">
            {% for post in posts %}
                {% include "card-list-item.twig" %}
            {% endfor %}
        </div>
    </div>
    {% include "side-nav.twig" %}
{% endblock body %}