<div class="main-card-container z-depth-3">
    <div class="card">
        <div class="card-image small">
            <img src="{{ mainPost.getImage() }}"/>
            <span class="card-title">{{ mainPost.getTitle() }}</span>
        </div>
        <div class="card-content">
            <p>{{ mainPost.getContent() }}</p>
        </div>
        <div class="card-action">
            <p>{{ mainPost.getPostDate() }}</p>
            <a href="#" class="btn">Voir Plus</a>
        </div>
    </div>
</div>