<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Le blog d'otis, scribe de père en fils</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn">Se connecter<i class="material-icons right">assignment_ind</i></a></li>
            <li><a class="waves-effect waves-light btn">S'inscrire<i class="material-icons right">assignment</i></a></li>
        </ul>
    </div>
</nav>

