{% extends 'layout.twig' %}
{% block body %}
    <div class="main-page">
        {% include 'PostPageComponents/post-section.twig' %}

        {% for commentary in commentaries %}
            {% include 'PostPageComponents/commentary.twig' %}
        {% endfor %}

        {% include 'PostPageComponents/new-commentary.twig' %}
    </div>
{% endblock %}