{% extends 'layout.twig' %}
{% block body %}
    <div class="main-page">
        {% include 'post-section.twig' %}

        {% for commentary in commentaries %}
            {% include 'commentary.twig' %}
        {% endfor %}
    </div>
{% endblock %}