<ul id="slide-out" class="side-nav">
    <li><a href="#!"><i class="material-icons">add_circle</i>Ajouter un post</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#!"><i class="material-icons">edit_circle</i>Voir le post</a></li>
</ul>
<div class="fixed-action-btn horizontal admin-panel-button">
    <a  data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light button-collapse">
        <i class="large material-icons">dehaze</i>
    </a>
</div>