{% extends 'layout.twig' %}
{% block body %}
    <div class="form-container">
        <p class="error-msg">{{ errorMsg }}</p>
        <div class="row">
            <form class="col s12" method="post" action="{{ app.url_generator.generate('subscribePost')}}">
                <div class="row">
                    <div class="col s6">
                        <label for="first_name" >Prénom</label>
                        <input id="first_name" type="text" class="validate" name="firstname">
                    </div>
                    <div class="col s6">
                        <label for="last_name" >Nom de famille</label>
                        <input id="last_name" type="text" class="validate" name="lastname">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label for="username" >Username</label>
                        <input id="username" type="text" class="validate" name="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label for="password" >Mot de passe</label>
                        <input id="password" type="password" class="validate" name="password">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label for="email" >Email</label>
                        <input id="email" type="email" class="validate" name="email">
                    </div>
                </div>
                <div class="submit-container">
                <button class="btn waves-effect waves-light" type="submit" name="action">S'inscrire
                    <i class="material-icons right">send</i>
                </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}